.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: fit-content;
    text-decoration: underline;
    color: #fff;
    margin: 0;
    padding: 0;
}